DATABASE_URL=postgresql+asyncpg://eduviz:eduviz_password@localhost:5432/eduviz
REDIS_URL=redis://localhost:6379/0
SUPABASE_URL=https://ezdegxpihcducoqmaeen.supabase.co
SUPABASE_JWT_SECRET=e2mBiQ8ojdq0o5x7SIfTW599VBcJPqn7vX0ZZcUJHmKocLeyECldUm+P/uSZjs7OM6JuvSq+hz+NY6pQ/Fh9Eg==
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxaXBqZXJ4anZydndqeWJoc3FtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExNzg4MzUsImV4cCI6MjA4Njc1NDgzNX0.wsHGttO_KFuCSXaGqrmWMhktqHX0hUgd8JRVqqS9gGc
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
ENVIRONMENT=development
LOG_LEVEL=INFO
SECRET_KEY=change-me-in-production

